.owl-carousel .owl-item {
	/** This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong calculation of the height of the owl-item that breaks page layouts */
}
 .owl-carousel .owl-item .owl-lazy {
	 opacity: 0;
	 transition: opacity 400ms ease;
}
 .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
	 max-height: 0;
}
 .owl-carousel .owl-item img.owl-lazy {
	 transform-style: preserve-3d;
}
 