.header-text_title{
	margin-bottom: 36px;
	font-size: 30px;
	font-weight: 400;

}

.title{
	color: #fd58b2;
}

.container_text{

	color: #393939;
	font-family: "Arial - Bold MT";
	font-size: 16px;
	font-weight: 400;

}