body{
	margin: 0;
	padding: 0;
	background-color: #f3f1ef;

}
.header {
	display: grid;
	grid-template-columns: 800px 800px;
	grid-template-rows:500px;

}
.header__indent{
	margin-top: 130px;
	margin-left: 57px;
}
.header__text{
 color: #666666;
 font-family: "Myriad Pro";
 font-size: 24px;
 font-weight: 400;
 letter-spacing: -0.6px
}

.header__title{
 color: #666666;
 font-family: "Myriad Pro";
 font-size: 24px;
 font-weight: 700;
 text-transform: uppercase;
 padding-bottom: 33px;
}

.main{
	display: grid;
	grid-template-columns: 400px 400px 400px 400px;
	grid-template-rows: 515px;
}

.footer{
	display: grid;
	grid-template-columns: 800px 800px;
	grid-template-rows: 515px;
	grid-template-areas: "footer__decr footer__decr footer__img footer__img";
	background-color: #3f729b;
	width: 1600px;
	
}

.footer__title{
 color: #f9f9f9;
 font-family: "Fira Sans";
 font-size: 24px;
 font-weight: 700;
 text-transform: uppercase;
 margin-top: 144px;
 margin-left: 213px;
}

.footer__text{
 color: #f9f9f9;
 font-family: "Myriad Pro";
 font-size: 24px;
 font-weight: 400;
 letter-spacing: -0.6px;
 margin-top: 33px;
 margin-left: 213px;
}

.footer__button{
 color: #f9f9f9;
 font-family: "Myriad Pro";
 font-size: 18px;
 font-weight: 400;
 text-transform: uppercase;
 letter-spacing: 0.9px;
 width: 280px;
 height: 56px;
 border-radius: 28px;
 border: 2px solid #ffffff;
 background-color: #3f729b;
 margin-top: 90px;
 margin-left: 213px;
}
